@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
:root {
  font-family: "Mulish", serif;
  --themePuple: #392B60;
  color: white;
}
input {
  font-family: "Mulish", serif;
}
body{
  background-color: var(--themePuple);
}